{% extends "design/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="mb-4">РЕГИСТРАЦИЯ</legend>
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Имя:</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">Пароль:</label>
                    {{ form.password1 }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">Подтвердите пароль:</label>
                    {{ form.password2 }}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Зарегистрироваться</button>
            </div>
        </form>
    </div>
{% endblock content %}
